<div class="card  sticky-top">
  <div class="card-header">
    {{job.jobId}} - <b>{{job.name}}</b> @ {{job.company}}
  </div>
  <div class="card-body">
    <b>Skills: </b>{{job.skills}}
  </div>
</div>
<div class="p-2">
  Following candidates have one or more matching skillset required for the job.
</div>
<div class="row p-2 border" *ngFor="let matchingCandidate of (matchingCandidates$ | async)">
  <div class="col-12 col-sm-2">
    <b>{{matchingCandidate.candidateName}}</b>
  </div>
  <div class="col row">
    <div class="col-auto mr-1" *ngFor="let skillTag of matchingCandidate.skills" [ngClass]="{'matching-skill': skillTag.isMatch}">
      {{skillTag.name}}
    </div>
  </div>
</div>
