/* You can add global styles to this file, and also import other style files */

$color-primary: white;
$color-secondary: #aec1d4;

.clickable:hover {
  cursor: pointer;
  box-shadow: 0 0 1em #dddddd;
}

